<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ddd7d">  <td>22/05/04 15:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@24569dba]">DSlogin</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/04 15:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@24569dba]">DSlogin</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/04 15:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@24569dba]">DSlogin</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/04 15:26:30</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Dproj.close()[pri:0, instance:DsAlgotest.Dproj@24569dba]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/04 15:26:30</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Dproj.close()[pri:0, instance:DsAlgotest.Dproj@24569dba]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/04 15:26:30</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Dproj.close()[pri:0, instance:DsAlgotest.Dproj@24569dba]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1358343316</td>   <td></td> </tr>
</table>
