<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ddd7d">  <td>22/05/09 15:42:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registration.DSRegister(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Registration@247310d0]">DSRegister</td> 
  <td>main@403174823</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/09 15:42:42</td>   <td>-3657</td> <td>&nbsp;</td><td title="&gt;&gt;Registration.Setup()[pri:0, instance:DsAlgotest.Registration@247310d0]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@403174823</td>   <td></td> </tr>
<tr bgcolor="6ddd7d">  <td>22/05/09 15:42:47</td>   <td>1422</td> <td>&nbsp;</td><td title="&lt;&lt;Registration.close()[pri:0, instance:DsAlgotest.Registration@247310d0]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@403174823</td>   <td></td> </tr>
</table>
