<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f278eb">  <td>22/05/04 19:54:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DSBrowser.DBrowser_open(java.lang.String)[pri:0, instance:DsAlgotest.DSBrowser@5afa3c9]">DBrowser_open</td> 
  <td>main@605052357</td>   <td></td> </tr>
<tr bgcolor="b36d6a">  <td>22/05/04 19:54:32</td>   <td>24434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@43df23d3]">DSlogin</td> 
  <td>main@605052357</td>   <td></td> </tr>
<tr bgcolor="b36d6a">  <td>22/05/04 19:54:32</td>   <td>24434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@43df23d3]">DSlogin</td> 
  <td>main@605052357</td>   <td></td> </tr>
<tr bgcolor="b36d6a">  <td>22/05/04 19:54:32</td>   <td>24434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@43df23d3]">DSlogin</td> 
  <td>main@605052357</td>   <td></td> </tr>
</table>
